//Variablat
//Fonts
$nunito: "Nunito", sans-serif;
$helevetica: Helvetica, Sans-Serif;
$bodyFont: 16px;

//Structure
//Colors
$title-and-active: #212353;
$pTextColor: #4b5d68;
$logo-purple: #9c69e2;

$accentAlt: white;
